a{
    width: 100%;
}
.component{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.component-left{
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: row;
    
}
.component-right{
    width: 30%;
}
.avt-box{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
.colorMessage{
   width: 75%; 
}
.user-name {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
a:focus .user-name{
    color: black !important;
}
.list-group-item-action:not(.active):focus,
.list-group-item-action:not(.active):hover{
    background-color: var(--chose-btn);
}

.list-group-item-action:not(.active):focus h6,
.list-group-item-action:not(.active):hover h6
{
    color: white !important;
}