.chat-box {
    width: 70%;
    height: 100%;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.chat-box-header {
    width: 100%;
    height: 52px;
    border-bottom: solid 1px gray;
    display: flex;
    align-items: center;
}

.avt {
    width: 40px;
    height: 40px;
    margin: 5px 10px 5px 10px;
    border: solid 1px black;
    border-radius: 50%;
    background-image: url("../../../assets/images/icon-person.png");
    background-size: cover;
}

.user-name {
    font-size: 20px;
    font-weight: 500;
}

.main-chat {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.message {
    display: flex;
    align-items: flex-end;
    margin-top: 10px;
}

.message-content {
    position: relative;
    max-width: 400px;
    border: solid 1px gray;
    border-radius: 10px;
    padding: 5px;
}

.other {
    justify-content: flex-start;
}

.me {
    justify-content: flex-end;
}

.me .message-content {
    background-color: green;
    color: white;
}

.me .avt {
    background-image: url("../../../assets/images/user.png");
}

.time-send {
    position: absolute;
    min-width: 115px;
    padding: 3px;
    border: solid 1px black;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 10px;
    font-size: 10px;
    bottom: 0;
    z-index: 100;
    opacity: 0;
    transform: translateY(4px);
    transition: 0.2s;
}

.other .message-content .time-send {
    left: -115px;
}

.me .message-content .time-send {
    right: -115px;
}

.message-content:hover .time-send {
    opacity: 1;
    transform: translateY(0);
}

.time-send:hover {
    opacity: 0 !important;
    transform: none !important;
}

.chat-input {
    width: 100%;
    height: 52px;
    border-top: solid 1px black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    margin-top: auto;
    padding: 1px 5px 1px 5px;
}

.image-btn,
.file-btn {
    width: 30px;    
    height: 30px;
    background-color: white;
    background-image: url('../../../assets/images/imageicon.png');
    background-size: cover;
    border: none;
    margin: 0 5px 10px 5px;
    background-position: center;
}

.file-btn {
    background-image: url('../../../assets/images/file.png');
}

.form-chat {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 8px;
}

.chat-text {
    width: 85%;
    height: 76%;
    resize: none;
    overflow: hidden;
    font-size: 100%;
    line-height: 1.4;
    border: solid 1px gray;
    border-radius: 15px;
    padding: 8px;
}

.icon-btn {
    width: 30px;    
    height: 30px;
    margin-bottom: 4px;
    background-image: url('../../../assets/images/emoji.png');
}

.send-btn {
    width: 30px;    
    height: 30px;
    margin-bottom: 3px;
    background-image: url('../../../assets/images/send.png');
    background-size: contain;
}
@media (max-width: 992px) {
    .chat-box{
        width: 95%;
    }
}