p {
    margin: 0;
}

.infor {
    width: 30%;
    height: 100%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.inforOtherUserBox {
    width: 100%;
    height: 70%;
    border-radius: 15px;
    background-color: white;
}

.inforOtherUser {
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.avt-o {
    width: 60px;
    height: 60px;
    margin: 5px 10px 5px 10px;
    border: solid 1px black;
    border-radius: 50%;
    background-image: url("../../../assets/images/icon-person.png");
    background-size: cover;
}

.media-box {
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-box {
    width: 100%;
    height: 26px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn-media {
    width: 60px;
    border-radius: 5px 5px 0 0;
    border: solid 1px gray;
    border-bottom: none;
    padding: 0;
    margin-right: 10px;
}

.chose {
    background-color: cyan;
}

.media {
    width: 100%;
    height: 90%;
    position: relative;
    border-top: solid 1px gray;
    padding: 10px 30px;
}

.image-box {
    width: 90%;
    height: 70px;
    margin-left: 0;
    position: absolute;
    top: 10px;
    left: 12px;
}

.img {
    padding: 0 3px;
    margin-bottom: 6px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.file-box {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.file {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.file-icon {
    width: 20px;
    height: 20px;
    background-color: white;
    background-image: url("../../../assets/images/file-icon.png");
    background-size: cover;
    margin-right: 20px;
}

.file-name {
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.download-btn {
    width: 20px;
    height: 20px;
    border: none;
    background-color: white;
    background-image: url("../../../assets/images/download.png");
    background-size: cover;
    margin-right: 0;
    position: absolute;
    top: 5px;
    right: 20px;
}

.show {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.inforUserBox {
    width: 100%;
    height: 30%;
    margin-top: 20px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avt-u {
    background-image: url('../../../assets/images/user.png');
}

.logout-btn {
    padding: 3px 5px 3px 5px;
    background-color: red;
    border-radius: 5px;
    font-weight: 500;
    color: white;
    border: none;
    margin-top: 20px;
}

.more-info-btn {
    display: none;
}
.info-u-btn{
    display: none;
}
/* .sidebar{
    width: 10%;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
} */
.inforUserBoxMobile {
    width: 30%;
    height: 40%;
    margin-top: 20px;
    border-radius: 15px;
    background-color: white;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 50px;
    z-index: 100;
}
.inforUserBoxMobile .logout-btn{
    margin-top: 2px;
}
.inforOtherUserBoxMobile{
    width: 30%;
    height: 90%;
    border-radius: 15px;
    background-color: white;
    position: absolute;
    right: 50px;
    z-index: 100;
    border: solid 1px black;
}
.inforOtherUserBoxMobile .inforOtherUser{
    height: 50px;
}
.inforOtherUserMobile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}
.avt-mobile{
    width: 20px;
    height: 20px;
    background-image: url("../../../assets/images/icon-person.png");
    background-size: cover;
    border: solid 1px black;
    border-radius: 50%;
    margin-right: 5px;
}

@media (max-width : 992px) {
    .file-name {
        max-width: 50px;
    }   

    .infor{
        display: none;
    }

    .sidebar {
        width: 9%;
        height: 80px;
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
    }

    .more-info-btn,
    .info-u-btn {
        display: block;
        width: 20px;
        height: 20px;
        border: none;
        background-color: white;
        background-image: url("../../../assets/images/more.png");
        background-size: cover;
        margin-bottom: 5px;
        z-index: 2;
    }
    .info-u-btn{
        background-image: url("../../../assets/images/user.png");
    }

}