* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.chat-container {
    display: flex;
    overflow-x: hidden;
}

.chat-left {
    width: 25%;
    margin: 3%;
    background-color: white;
    /* border: 1px solid #ccc;
    border-radius: 15%; */
}

.chat-right {
    width: 75%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding: 15px;
    background-color: rgb(184, 184, 184);
}