* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.chat-container {
    width: 100%;
    display: flex;
    position: relative;
    overflow-x: hidden;
}

.chat-left {
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: rgb(184, 184, 184);
}

.chat-left-content {
    width: 100%;
    height: 96.2vh;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px;
    margin: 15px 5px 10px 15px;
}

.chat-right {
    width: 75%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding: 15px;
    background-color: rgb(184, 184, 184);
}

.chat-icon {
    display: none;
}
.end-session{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
}
.box{
    width: 400px;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    border: solid 2px green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(209, 244, 212, 0.558);
}
.box > p{
    width: 100%;
    font-size: 30px;
    color: var(--text);
    text-align: center;
    margin-top: 10px;
}
.btn-ok{
    width: 70px;
    height: 30px;
    background-color: green;
    color: white;
    border: solid 2px white;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: bold;
    
}
@media(max-width: 992px) {
    .chat-container {
        width: 100%;
        flex-direction: row;
    }

    .chat-left {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .chat-left-content {
        width: 95%;
        margin: 0;
        border-radius: 0;
        border-left: solid 1px gray;
    }

    .chat-right {
        width: 95%;
    }
    .icon-menu{
        width: 100%;
        display: flex;
        padding-top: 20px;
        align-items: center;
        flex-direction: column;
        background-color: var(--bg);
    }

    .chat-icon {
        width: 20px;
        height: 20px;
        display: block;
        border: none;
        background-color: var(--bg);
        background-image: url("../assets/images/chat.png");
        background-size: cover;
    }
}