* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.chat-container {
    display: flex;
    overflow-x: hidden;
}

.chat-left {
    width: 25%;
    height: 100vh;
    /* margin: 3%; */
    background-color: white;
    /* border: 1px solid #ccc;
    border-radius: 15%; */
}
.chat-left-content{
    width: 100%;
    height: 100%;
    background-color: white;
}

.chat-right {
    width: 75%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding: 15px;
    background-color: rgb(184, 184, 184);
}

.chat-icon {
    display: none;
}

@media(max-width: 992px) {
    .chat-container{
        flex-direction: row;
    }

    .chat-left {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }
    .chat-left-content{
        width: 95%;
        height:100%;
    }
    .chat-right {
        width: 95%;
    }
    .chat-icon {
        width: 20px;
        height: 20px;
        display: block;
        border: none;
        background-color: white;
        background-image: url("../assets/images/chat.png");
        background-size: cover;
    }
}